<div class="flex flex-col min-h-screen justify-start items-center bg-cover gap-3 px-3" style="background-image: url('../assets/63d06f07ae997e1cfe777b77fa95af1f.jpg');">
  <div class="grid py-2 w-full place-content-end">
    <div class="flex gap-3 sm:gap-3 md:gap-3 lg:gap-5 xl:gap-10 2xl:gap-12" *ngIf="!utility.displayNum">
      <button class="header-text" (click)="signUpPageDisplay()">Sign up</button>
      <button class="header-text" (click)="loginPageDisplay()">Log in</button>
      <button class="" (click)="profilePageDisplay()"><img [src]="utility.userData.imageUrl ? '../../assets/user.png' : utility.userData.imageUrl" class="" style="width: 50px; border-radius: 50%" alt=""></button>
    </div>
  </div>  
  <div class="flex-1 flex w-11/12 gap-3 a flex-col sm:flex-col md:flex-col lg:flex-row xl:flex-row 2xl:flex-row">
    <div class="flex-[2_2_0] flex justify-center items-start flex-col">
      <h1 class="text-white b text-2xl"><b>Welcom to zplatform</b></h1>
      <p class="text-white">Lorem ipsum dolor sit amet, consectetur
        adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation
        ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="flex-[1.5_1.5_0] justify-center items-center py-2" *ngIf="utility.displayNum">
      <router-outlet></router-outlet>
      <!-- <app-login></app-login> -->
    </div>
  </div>
</div>
