.a {
    height: 550px;
    overflow: scroll;
}

.invalid {
    border-width: 2px;
    border-color: rgb(214, 3, 3);
}

.invalidText {
    color: rgb(214, 3, 3);
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
/* box-shadow: inset 0 0 5px grey;  */
border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #929fb8; 
border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #646972;
}